<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-Do</title>
    <link rel="icon" href="/assets/icon.ico">
    <link rel="stylesheet" href=<% if(theme == "true"){ %>
      <%= "/assets/dark.css"  %>
    <% } else { %>
      <%= "/assets/fullCSS.css"  %>
    <% } %>>
  </head>
  <body>
    <div class="wrapper">
      <form id="login" action="/login" method="post">
        <button id="logBt">Log in</button>
      </form>
      <% if(logged == 1){ %>
        <p id="welcome"><%= 'Hi ' + user + '!' %></p>
      <% } %>

      <div class="popup">
        <span class="popuptext" id="myPopup">You're not logged, so the experience can be a little bit worse. Just click on me to hide.</span>
      </div>

      <h1>To Do</h1>

      <label class="switch">
        <input type="checkbox" id="slider" <% if(theme == "true"){ %>
          <%= "checked" %>
          <% } %>>
        <span class="slider round"></span>
        <p class="description">&#9788;/&#9790;</p>
      </label>

      <div class="to-do-form">
        <form action="/todoSave" method="post">

          <!-- Popup --->
          <div class="popup">
            <span class="popuptext" id="errorPopup">To do can't be only ''!</span>
          </div>

          <input type="text" id="new" name="to_do" minlength="3" placeholder="Enter new To Do">
          <input type="submit" id="bt" name="button" value="&#43;">
        </form>
      </div>

      <div class="to-do-items">
        <ul class="todos">
          <% for(let i=0; i < data.length; i++){ %>
            <li>
              <label class="control control-checkbox">
                    <input type="checkbox" class="check" <% if(data[i].did == "1"){ %>
                      <%= "checked" %>
                      <% } %>>

                    <c><%= data[i].to_do %></c>
                  <div class="control_indicator"></div>
                  <button type="button" class="delete">&#10005;</button>
              </label>
            </li>
          <% } %>
        </ul>
      </div>

    </div>

    <script src="/assets/script.js"></script>
    <script type="text/javascript">
      if(<%= logged %>){ // If the client is already logged
        document.getElementById('login').action = '/logout'
        document.getElementById('logBt').textContent = 'Log out'
        document.getElementById('logBt').style.backgroundColor = 'indianred'
        document.getElementById('logBt').style.color = 'white'
      } else {
        // Pop Up configuration
        let popup = document.getElementById("myPopup");
        popup.classList.toggle("show");

        popup.addEventListener('click', () => {
          popup.classList.toggle("show"); // Hide popup
        })
      }
    </script>
  </body>
</html>
