<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-Do</title>
    <link rel="icon" href="/assets/icon.ico">
    <link rel="stylesheet" href="/assets/fullCSS.css">
  </head>
  <body>
    <div class="wrapper">
      <form id="login" action="/login" method="post">
        <button id="logBt">Log in</button>
      </form>
      <% if(logged == 0){ %>
        <p><%= 'Not logged' %></p>
      <% } else { %>
        <p><%= 'Logged into ' + user %></p>
      <% } %>

      <h1>To Do</h1>

      <label class="switch">
        <input type="checkbox" id="slider">
        <span class="slider round"></span>
        <p class="description">&#9788;/&#9790;</p>
      </label>

      <div class="to-do-form">
        <form action="/todoSave" method="post">
          <input type="text" id="new" name="to_do" minlength="3" placeholder="Enter new To Do">
          <input type="submit" id="bt" name="button" value="&#43;">
        </form>
      </div>

      <div class="to-do-items">
        <ul class="todos">
          <% for(let i=0; i < data.length; i++){ %>
            <li>
              <label class="control control-checkbox">
                    <input type="checkbox" class="check" <% if(data[i].did == "1"){ %>
                      <%= "checked" %>
                      <% } %>>

                    <c><%= data[i].to_do %></c>
                  <div class="control_indicator"></div>
                  <button type="button" class="delete">&#10005;</button>
              </label>
            </li>
          <% } %>
        </ul>
      </div>

    </div>

    <script src="/assets/script.js"></script>
    <script type="text/javascript">
      if(<%= logged %>){ // If the client is already logged
        console.log('Logged')
        document.getElementById('login').action = '/logout'
        document.getElementById('logBt').textContent = 'Log out'
      } else {
        console.log('Not Logged')
      }
    </script>
    <!--
      If not logged, there will be a script, to change the elements functions to be related to the cache
    -->
  </body>
</html>
